body{
	margin: 0px 0px 0px 0px;
	background: #E5E5E5;
}
a:hover {
    color: #6299E8;
}
.profile{
	text-align: center;
}
.headerName{
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	color: #3A3A3A;
	margin-bottom: 0px;
}
.profileLinks{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px 5px 0px 5px;
	font-size: 14px;
	color: #686868;
	text-decoration: none;
}
