body{
	margin: 0px 0px 30px 0px;
	background: #efefef;
}
a:link {
    text-decoration: none;
    color: #474747;
}
a:visited {
    text-decoration: none;
    color: #474747;
}
a:hover {
    color: #6299E8;
}
.profile{
	width: 100%;
	text-align: center;
}
.profile h1{
	text-align: center;
}
.headerName{
	font-family: 'Raleway', sans-serif;
	font-size: 2.3em;
	color: #545454;
	margin-bottom: 15px;
	font-weight: 300;
}
.profileLinks{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px 5px 0px 5px;
	font-size: .9em;
	color: #686868;
	text-decoration: none;
}
h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 1em;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px; 
	color: #474747;
}
p,li{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: .9em;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 5px;
	margin-bottom: 7px;
	color: #737373;   
}
.entry{
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 10px;
  	padding-right: 15px;
}
.moreBtn:hover{
	background-color: #e6f2ff;
}
.seperator{
	border-style: none none dotted none;
	border-width: 1px;
	color: #cccccc;
}

#Summary{
	height: auto;
	width: 700px;
	margin: 20px auto 50px auto;
	text-align: center;
}
#Articles{
	display: none;
	height: auto;
	width: 700px;
	margin: 40px auto 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(82,82,82,0.39);
}
#Articles H2{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1.4em; 
	font-weight: 300;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #00cc66;
}
.subText{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: .75em;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 2px;
	margin-bottom: 12px;
	color: #737373;
}
.workHeader, .workDate{
	display: inline;
}
#Current{
	display: none;
	height: auto;
	width: 700px;
	margin: 35px auto 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(82,82,82,0.39);
}		
#Current H2{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1.4em; 
	font-weight: 300;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #ff4d4d; 
}
#Skills{
	display: none;
	height: auto;
	width: 700px;
	margin: 35px auto 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(82,82,82,0.39);
}		
#Skills H2{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1.4em; 
	font-weight: 300;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #4da6ff; 
}
.linkIco{
	fill: red;
	margin-left: 5px;
}
.moreBtn{
	display: block;
	margin: auto;
	border-radius: 12px;
	border: solid 1px #a6a6a6;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: .7em;
	color: #737373;
	background-color: #ffffff;
	outline: none;
}
.moreSection{
	display: none;
}


/*nav section*/
#view{
	color: #a6a6a6;  
	margin:auto;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 15px;
	width: 140px;
	background-color: #e6e6e6;
}
#overview, #projectView{
	padding: 7px;
	font-family: 'Raleway', sans-serif;
	font-size: .8em;
}
#overview{
	border-radius: 15px 2px 2px 15px;
	margin-right: 0px;
}
#projectView{
	border-radius: 2px 15px 15px 2px;
	margin-left: 0px;
}
.notActive{
	outline: none;
	border:none;
	color: #a6a6a6;
	background-color: #e6e6e6;
}
.notActive:hover{
	color: #ffffff;
	background-color: #cccccc;
}
.active{
	outline: none;
	background: linear-gradient(#72b6f9,#3999f9);
	color: #ffffff;
	border:none;
	border: 1px solid #4da6ff;
}


/*Projects Section*/
#Projects{
	display: none;
	height: auto;
	width: 700px;
	margin: 40px auto 0px auto;
}
.projectCard{
	width: 100%;
	height: 250px;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0px 0px 40px -5px rgba(82,82,82,0.7);
	margin-bottom: 40px;
}
.projectCard p{
	color: #000;
}
.projectCard a:hover{
	transition: .5s;
	color: #ff4d4d;
}
.content{ 
	background-color: rgba(255,255,255,0.1);
	border-radius: 7px;
	height: 100%
}
.projectCard H2{
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	padding-left: 10px;
	top: 10px;
	background-color: rgba(255, 255, 255,0.5);
}
.info{
	position: relative;
	bottom: -110px;
	background-color: rgba(255, 255, 255,0.8);
}
.tech{
	line-height: 1.75em;
	font-size: .75em;
	padding-bottom: 5px;
}
.tech span{
	color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	/*background-color: #4da6ff;*/
	border-radius: 3px;
	margin:2px;
}
.front{
	background-color: #4da6ff;
}
.back{
	background-color: #ff4d4d;
}
.model{
	background-color: #00cc66;
}
.infra{
	background-color: #000;
}
#lbb{
	background: url('../images/lbb.gif') no-repeat center;
	background-size: cover;
}
#ff{
	background: url('../images/ff.gif') no-repeat center;
	background-size: cover;
}
#fix{
	background: url('../images/fix.gif') no-repeat center;
	background-size: cover;
}


/*mobile*/
@media screen and (max-width:768px){
  #Summary, #Articles,#Projects,#Current,#Skills, #work{
    width: 100%;
  }
  .projectCard{
	  border-radius: 0px;
  }
  #view{
	  width: 143px;
  }
  .entry{
  	padding-left: 5px;
  	padding-right: 10px;
  }
}