body{
	margin: 0px 0px 30px 0px;
	background: #efefef;
}
a:link {
    text-decoration: none;
    color: #474747;
}
a:visited {
    text-decoration: none;
    color: #474747;
}
a:hover {
    color: #6299E8;
}
.profile{
	width: 100%;
	text-align: center;
}
.profile h1{
	text-align: center;
}
.headerName{
	font-family: 'Raleway', sans-serif;
	font-size: 2.3em;
	color: #545454;
	margin-bottom: 15px;
	font-weight: 300;
}
.profileLinks{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px 7px 0px 7px;
	font-size: .9em;
	color: #686868;
	text-decoration: none;
}
h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 1em;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px; 
	color: #474747;
}
p,li{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: .9em;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 5px;
	margin-bottom: 7px;
	color: #737373;   
}
.entry{
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 10px;
  	padding-right: 15px;
}
.moreBtn:hover{
	background-color: #e6f2ff;
}
.seperator{
	border-style: none none dotted none;
	border-width: 1px;
	color: #cccccc;
}

#Summary{
	height: auto;
	width: 700px;
	margin: 20px auto 50px auto;
	text-align: center;
}
#Summary p{
	text-align: center;
	line-height: 150%;
	font-size: .90em;
}
#Articles{
	/* display: none; */
	height: auto;
	width: 700px;
	margin: 40px auto 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(82,82,82,0.39);
}
#Articles H2{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1.4em; 
	font-weight: 300;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #00cc66;
}
.subText{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: .75em;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 2px;
	margin-bottom: 12px;
	color: #737373;
}
.workHeader, .workDate{
	display: inline;
}
.workTitle{
	font-size: .75em;
	line-height: 170%;
	color: #595959;
}
#Current{
	/* display: none; */
	height: auto;
	width: 700px;
	margin: 35px auto 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(82,82,82,0.39);
}		
#Current H2{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1.4em; 
	font-weight: 300;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #ff4d4d; 
}
#Skills{
	/* display: none; */
	height: auto;
	width: 700px;
	margin: 35px auto 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(82,82,82,0.39);
}		
#Skills H2{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1.4em; 
	font-weight: 300;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #4da6ff; 
}
.linkIco{
	fill: red;
	margin-left: 5px;
}
.moreBtn{
	display: block;
	margin: auto;
	border-radius: 12px;
	border: solid 1px #a6a6a6;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: .7em;
	color: #737373;
	background-color: #ffffff;
	outline: none;
}
.moreSection{
	display: none;
}


/*nav section*/
#view{
	margin:auto;
	margin-bottom: 30px;
	text-align: center;
}
#overview, #projectView{
	padding: 7px;
	font-family: 'Raleway', sans-serif;
	font-size: .8em;
}
#overview{
	border-radius: 15px 2px 2px 15px;
	margin-right: 0px;
}
#projectView{
	border-radius: 2px 15px 15px 2px;
	margin-left: 0px;
}
.notActive{
	outline: none;
	border:none;
	background-color: #dfdfdf;
}
.notActive:hover{
	color: #ffffff;
	background-color: #cccccc;
}
.active{
	outline: none;
	background: linear-gradient(#72b6f9,#3999f9);
	color: #ffffff;
	border:none;
}
#view a.active{
	color: #fff;
}
#view a.notActive:hover{
	color: #fff;
}

/*Projects Section*/
#Projects{
	display: none;
	height: auto;
	width: 700px;
	margin: 40px auto 0px auto;

	transition: all 2s ease;
}
.projectCard{
	width: 100%;
	height: 250px;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0px 0px 40px -5px rgba(82,82,82,0.7);
	margin-bottom: 50px;
}
.projectCard p{
	color: #000;
}
.projectCard a:hover{
	transition: .5s;
	color: #ff4d4d;
}
.content{ 
	background-color: rgba(255,255,255,0.1);
	border-radius: 7px;
	height: 100%
}
.projectCard H2{
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	padding-left: 10px;
	top: 10px;
	background-color: rgba(255, 255, 255,0.9);
	box-shadow: 0px 0px 10px 0px rgba(82,82,82,0.3);
}
.info{
	position: relative;
	bottom: -110px;
	background-color: rgba(255, 255, 255,0.9);
	box-shadow: 0px 0px 10px 0px rgba(82,82,82,0.3);
}
.tech{
	line-height: 1.75em;
	font-size: .75em;
	padding-bottom: 5px;
}
.tech span{
	color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	/*background-color: #4da6ff;*/
	border-radius: 3px;
	margin:2px;
}
.front{
	background-color: #4da6ff;
}
.back{
	background-color: #ff4d4d;
}
.model{
	background-color: #00cc66;
}
.infra{
	background-color: #000;
}
#zen{
	background: url('../images/zen.gif') no-repeat center;
	background-size: cover;
}
#nyt-search{
	background: url('../images/nyt-search.gif') no-repeat center;
	background-size: cover;
}
#lbb{
	background: url('../images/lbb.gif') no-repeat center;
	background-size: cover;
}
#med{
	background: url('../images/med.gif') no-repeat center;
	background-size: cover;
}
#fix{
	background: url('../images/fix.gif') no-repeat center;
	background-size: cover;
}


/*mobile*/
@media screen and (max-width:765px){
	#Summary, #Articles,#Projects,#Current,#Skills, #work{
		width: 100%;
	}
	#Summary p {
		padding-right: 10px;
	}
	.projectCard{
		border-radius: 0px;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	#view{
		width: 143px;
	}
	.entry{
		padding-left: 5px;
		padding-right: 10px;
	}
	.tech{
		line-height: 1.95em;
		font-size: .55em;
		padding-bottom: 5px;
	}
	.info{
		position: relative;
		bottom: -100px;
		font-size: .85em;
		background-color: rgba(255, 255, 255,0.85);
	}
	.projectCard H2{
		font-size: 1.3em;
	}
}